.header {
	background: #FFE4B5;
	padding: 3px;
	text-align: center;
}
	
.topnav {
	background: #FFEBCD;
  overflow: hidden;
}

.topnav a {
	text-decoration: none;
	display: block;
	color: #000000;
	float: left;
	text-align: center;
	padding: 3px 64.91px;
	font-weight: bold;
}

.topnav a:hover {
	background-color: #A9A9A9;
  color: white;
}

.topnav a.active {
  background: #FFFFF0;
	color: black;
}

.left {
   float: left;
   padding: 0 20px 20px 0;
}

img {
	width: 480px;
	height: 480px;
}

#header {
	background: #FFDAB9;
	padding: 1px 1px;
	text-align: center;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    max-width: 950px;
    padding: 10px;
    margin: auto;
    background: #FFFFF0;
}

#paragraph {
    font-size: 17px;
    text-align: justify;
}


